/*
 * GajiHub
 * https://gajihub.com
 * Designed by Degiam [https://degiam.github.io]
 * Copyright (c) 2021
 */

/* Default Style
 * -----------------
 */

	/* Base */
		@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@400;700&display=swap');

		:root {
			color-scheme: light;
			--font-title: 'Readex Pro', sans-serif;
			--black: #000;
			--theme-1: #e53e6a;
			--theme-1-hover: #c12850;
			--theme-1-bg: #fff0f4;
			--theme-2: #fee3d8;
			--theme-2-hover: #f1ccbd;
			--theme-2-bg: #fff7f4;
			--warning: #ffe420;
		}

		::-moz-selection {
			color: var(--white);
			background: var(--theme-1);
		}
		::selection {
			color: var(--white);
			background: var(--theme-1);
		}

		body {
			font-size: .95rem;
			cursor: default;
		}

		.container,.container-fluid {
			padding-right: 1.5rem;
			padding-left: 1.5rem;
		}

		.btn,
		.form-control,
		.form-select,
		.input-group-text,
		.dropdown-menu {
			font-size: .95rem;
		}

		a {
			color: var(--theme-1);
		}
		a:hover,
		a:focus {
			color: var(--theme-1-hover);
		}

		h1, h2, h3, h4, h5, h6 {
			font-family: var(--font-title);
		}

		.font-title {
			font-family: var(--font-title);
		}

	/* Hover */
		a, a:hover,
		.btn, .btn:hover {
			-webkit-transition: all .25s ease;
			   -moz-transition: all .25s ease;
					transition: all .25s ease;
		}

	/* Focus */
		:focus {
			outline: 0;
		}
		a:-webkit-any-link:focus {
			outline-offset: 0;
		}

		button:focus {
			outline: 0;
		}

		.btn:focus,
		.btn.active:focus,
		.btn:active:focus,
		.show>.btn-dark.dropdown-toggle:focus,
		.btn-close:focus,
		.page-link:focus,
		.form-control:focus,
		.custom-control-input:focus~.custom-control-label:before {
			box-shadow: none !important;
		}
		.form-control:focus {
			border-color: var(--theme-1) !important;
		}

		[class^="form-"]:focus,
		[class^="form-"].is-valid:focus,
		.was-validated [class^="form-"]:valid:focus,
		[class^="form-"].is-invalid:focus,
		.was-validated [class^="form-"]:invalid:focus,
		[class^="custom-"]:focus,
		[class^="custom-"].is-valid:focus,
		.was-validated [class^="custom-"]:valid:focus,
		[class^="custom-"].is-invalid:focus,
		.was-validated [class^="custom-"]:invalid:focus {
			outline: 0;
			box-shadow: none;
		}

		[type="checkbox"],
		[type="radio"],
		[type="radio"]+label {
			cursor: pointer;
		}

	/* Type */
		.fs-1 {
			font-size: calc(1.5rem + 1.5vw) !important;
		}
		.fs-2 {
			font-size: calc(1.4rem + .9vw) !important;
		}
		.fs-3 {
			font-size: calc(1.3rem + .6vw) !important;
		}
		.fs-4 {
			font-size: calc(1.275rem + .3vw) !important;
		}
		.fs-5 {
			font-size: calc(1.2rem + .2vw) !important;
		}
		.fs-6 {
			font-size: calc(.95rem + .2vw) !important;
		}
		.fs-7 {
			font-size: calc(.8rem + .2vw) !important;
		}

	/* Spacing */
		p:last-child {
			margin-bottom: 0;
		}

		.lh-1 {
			line-height: 1;
		}
		.lh-2 {
			line-height: 1.25;
		}
		.lh-3 {
			line-height: 1.5;
		}
		.lh-4 {
			line-height: 2;
		}

		.ws-normal {
			white-space: normal;
		}
		.ws-nowrap {
			white-space: nowrap;
		}

		.ellipsis {
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-box-orient: vertical;
		}
		.line-1 {
			-webkit-line-clamp: 1;
		}
		.line-2 {
			-webkit-line-clamp: 2;
		}
		.line-3 {
			-webkit-line-clamp: 3;
		}
		.line-4 {
			-webkit-line-clamp: 4;
		}
		.line-5 {
			-webkit-line-clamp: 5;
		}

	/* Opacity */
		.opacity {
			opacity: 1;
		}
		.opacity-0 {
			opacity: 0;
		}
		.opacity-1 {
			opacity: .1;
		}
		.opacity-2 {
			opacity: .2;
		}
		.opacity-3 {
			opacity: .3;
		}
		.opacity-4 {
			opacity: .4;
		}
		.opacity-5 {
			opacity: .5;
		}
		.opacity-6 {
			opacity: .6;
		}
		.opacity-7 {
			opacity: .7;
		}
		.opacity-8 {
			opacity: .8;
		}
		.opacity-9 {
			opacity: .9;
		}

	/* Border */
		.rounded-1 {
			border-radius: .25rem !important;
		}
		.rounded-2 {
			border-radius: .5rem !important;
		}
		.rounded-3 {
			border-radius: .75rem !important;
		}

		.rounded-top-0 {
			border-top-left-radius: 0 !important;
			border-top-right-radius: 0 !important;
		}
		.rounded-bottom-0 {
			border-bottom-left-radius: 0 !important;
			border-bottom-right-radius: 0 !important;
		}
		.rounded-left-0 {
			border-top-left-radius: 0 !important;
			border-bottom-left-radius: 0 !important;
		}
		.rounded-right-0 {
			border-top-right-radius: 0 !important;
			border-bottom-right-radius: 0 !important;
		}
		@media (min-width: 768px) {
			.rounded-top-md-0 {
				border-top-left-radius: 0 !important;
				border-top-right-radius: 0 !important;
			}
			.rounded-bottom-md-0 {
				border-bottom-left-radius: 0 !important;
				border-bottom-right-radius: 0 !important;
			}
			.rounded-left-md-0 {
				border-top-left-radius: 0 !important;
				border-bottom-left-radius: 0 !important;
			}
			.rounded-right-md-0 {
				border-top-right-radius: 0 !important;
				border-bottom-right-radius: 0 !important;
			}
		}

	/* Shadow */
		.shadow {
			box-shadow: 0 .5rem .75rem rgba(0,0,0,.03), 0 0 1rem rgba(0,0,0,.04) !important;
		}

	/* Button */
		.btn-warning {
			background-color: var(--warning);
			border-color: var(--warning);
		}
		.btn-warning:hover,
		.btn-warning.focus,
		.btn-warning:focus,
		.btn-warning:not(:disabled):not(.disabled).active,
		.btn-warning:not(:disabled):not(.disabled):active,
		.show>.btn-warning.dropdown-toggle {
			background-color: #ffc107;
			border-color: #ffc107;
		}

	/* Image */
		.obj-fit-cover {
			object-fit: cover;
		}
		.obj-fit-contain {
			object-fit: contain;
		}
		.obj-position-top {
			object-position: top;
		}
		.obj-position-bottom {
			object-position: bottom;
		}
		.obj-position-left {
			object-position: left;
		}
		.obj-position-right {
			object-position: right;
		}

	/* Color */
		.text-theme-1 {
			color: var(--theme-1);
		}
		.text-theme-1-hover {
			color: var(--theme-1-hover);
		}
		.text-theme-2 {
			color: var(--theme-2);
		}
		.text-theme-2-hover {
			color: var(--theme-2-hover);
		}
		.color-inherit {
			color: inherit;
		}

		.bg-black {
			background-color: var(--black);
		}
		.bg-theme-1 {
			background-color: var(--theme-1);
		}
		.bg-theme-1-hover {
			background-color: var(--theme-1-hover);
		}
		.bg-theme-1-bg {
			background-color: var(--theme-1-bg);
		}
		.bg-theme-2 {
			background-color: var(--theme-2);
		}
		.bg-theme-2-hover {
			background-color: var(--theme-2-hover);
		}
		.bg-theme-2-bg {
			background-color: var(--theme-2-bg);
		}

	/* Position */
		.top {
			top: 0;
		}
		.bottom {
			bottom: 0;
		}
		.left {
			left: 0;
		}
		.right {
			right: 0;
		}

		.index-1 {
			z-index: 1;
		}
		.index-2 {
			z-index: 11;
		}
		.index-3 {
			z-index: 111;
		}
		.index-4 {
			z-index: 1111;
		}
		.index-5 {
			z-index: 11111;
		}

		.index-n1 {
			z-index: -1;
		}
		.index-n2 {
			z-index: -11;
		}
		.index-n3 {
			z-index: -111;
		}
		.index-n4 {
			z-index: -1111;
		}
		.index-n5 {
			z-index: -11111;
		}

	/* Pointer */
		.cursor-pointer {
			cursor: pointer;
		}
		.pointer-events-none {
			pointer-events: none;
		}

	/* Navbar */
		.navbar-light {
			background-color: var(--white);
		}
		.navbar-light .navbar-nav .nav-link {
			color: var(--black);
		}
		.navbar-light .navbar-nav .nav-link:focus,
		.navbar-light .navbar-nav .nav-link:hover {
			color: var(--theme-1);
		}
		.navbar-dark {
			background-color: var(--theme-1);
		}
		.navbar-dark .navbar-nav .nav-link {
			color: var(--white);
		}
		.navbar-dark .navbar-nav .nav-link:focus,
		.navbar-dark .navbar-nav .nav-link:hover {
			color: var(--theme-2);
		}
		@media (max-width: 767px) {
			.navbar-dark .dropdown-toggle:after,
			.navbar-dark .dropup .dropdown-toggle:after,
			.navbar-dark .dropleft .dropdown-toggle:after,
			.navbar-dark .dropright .dropdown-toggle:after {
				filter: brightness(0) invert(1);
			}
			.navbar-dark .dropdown-item {
				color: rgba(255,255,255,.85);
			}
			.navbar-dark .dropdown-item:focus,
			.navbar-dark .dropdown-item:hover {
				color: var(--white);
			}
			.navbar-dark .dropdown-item.open,
			.navbar-dark .dropdown-item.active,
			.navbar-dark .dropdown-item:active,
			.navbar .nav-item .dropdown-menu > .active > .dropdown-item {
				color: var(--white);
			}
		}
		@media (min-width: 768px) {
			.navbar-dark .nav-link.dropdown-toggle:after,
			.navbar-dark .dropup .nav-link.dropdown-toggle:after,
			.navbar-dark .dropleft .nav-link.dropdown-toggle:after,
			.navbar-dark .dropright .nav-link.dropdown-toggle:after {
				filter: brightness(0) invert(1);
			}
			.navbar .nav-item .dropdown-menu > .active > .dropdown-item {
				color: var(--theme-1);
			}
		}

	/* Dropdown */
		.dropdown-item {
			color: rgba(0,0,0,.6);
			padding: .5rem 1rem;
		}
		.dropdown-item.open,
		.dropdown-item.active,
		.dropdown-item:active {
			color: var(--dark);
			background-color: transparent;
		}
		.dropdown-item:focus,
		.dropdown-item:hover {
			background-color: transparent;
		}
		.dropdown > .dropdown-menu {
			border: 0;
		}
		.dropdown-menu .dropdown-menu {
			position: relative !important;
			border: none;
			padding-top: 0;
			padding-bottom: 0;
			padding: 0 0 0 1rem;
		}
		.dropdown-toggle {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			white-space: initial;
			word-break: break-all;
		}
		.dropdown-toggle .badge {
			margin-top: -1px;
			margin-left: 7px;
		}

		.dropdown-toggle:after,
		.dropup .dropdown-toggle:after,
		.dropleft .dropdown-toggle:after,
		.dropright .dropdown-toggle:after {
			border: 0;
			min-width: 1rem;
			width: 1rem;
			height: 1rem;
			margin-top: 6px;
			background-repeat: no-repeat;
		}
		.dropdown-submenu .dropdown-toggle:after,
		.dropdown-submenu.dropup .dropdown-toggle:after,
		.dropdown-submenu.dropleft .dropdown-toggle:after,
		.dropdown-submenu.dropright .dropdown-toggle:after {
			margin-top: 2px;
		}
		.dropdown-toggle:after {
			background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>');
		}
		.dropup .dropdown-toggle:after {
			background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M7.41,15.41L12,10.83L16.59,15.41L18,14L12,8L6,14L7.41,15.41Z"/></svg>');
		}
		.dropleft .dropdown-toggle:after {
			background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z"/></svg>');
		}
		.dropright .dropdown-toggle:after {
			background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"/></svg>');
		}

		@media (min-width: 768px) {
			.dropdown > .dropdown-menu {
				box-shadow: 0 .25rem .75rem rgba(0,0,0,.1);
			}
			.dropdown > .dropdown-toggle {
				padding-right: 1rem !important;
			}
			.dropdown-item {
				padding: .5rem 2rem .5rem 1rem;
			}
			.dropdown-toggle:after,
			.dropup .dropdown-toggle:after,
			.dropleft .dropdown-toggle:after,
			.dropright .dropdown-toggle:after {
				margin-right: -15px;
			}
		}
		@media (max-width: 767px) {
			.dropdown > .dropdown-menu {
				padding: 0;
				margin: 0;
			}
			.dropdown-menu {
				background-color: transparent;
			}
		}

	/* Carousel */
		.carousel:not(:hover) .carousel-control-next-icon,
		.carousel:not(:hover) .carousel-control-prev-icon {
			opacity: 0;
		}
		.carousel-control-next-icon,
		.carousel-control-prev-icon {
			width: 2rem;
			height: 2rem;
			transition: all .25s ease;
		}
		.carousel-control-next-icon {
			background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23000"><path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"/></svg>');
		}
		.carousel-control-prev-icon {
			background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23000"><path d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z"/></svg>');
		}

	/* Modal */
		.modal-backdrop.show {
			opacity: .75;
		}

/* Theme Style
 * -----------------
 */

	/* Layout */
		body {
			display: flex;
			flex-direction: column;
			height: 100vh;
			padding-top: 82px;
		}
		footer {
			margin-top: auto;
		}
		@media (max-width: 767px) {
			body {
				padding-top: 72px;
			}
			header .navbar {
				padding-left: 1.5rem;
				padding-right: 1.5rem;
			}
		}
		@media (min-width: 768px) and (max-width: 991px) {
			.container {
				max-width: initial;
			}
			header .container {
				padding-left: .5rem;
				padding-right: .5rem;
			}
		}
		@media (min-width: 1400px) {
			.container {
				max-width: 1340px;
			}
		}

	/* Navbar */
		.navbar {
			transition: all .25s ease;
		}
		.navbar a {
			text-decoration: none;
		}
		.navbar-brand {
			font-size: 1.5rem;
		}
		.navbar-brand svg,
		.navbar-brand img {
			width: auto;
			height: 50px;
		}
		.navbar .nav-item {
			position: relative;
		}
		.navbar .nav-item.active:before {
			content: '';
			position: absolute;
			margin: auto;
			opacity: .75;
		}
		.navbar-light .nav-item.active:before {
			background-color: var(--theme-1);
		}
		.navbar-dark .nav-item.active:before {
			background-color: var(--white);
		}
		.navbar-dark .navbar-brand {
			filter: brightness(0) invert(1);
		}
		.navbar-dark [data-target="#navbarMenu"] {
			color: var(--white);
		}
		@media (max-width: 767px) {
			.navbar .nav-item.active:before {
				width: 5px;
				height: 5px;
				border-radius: 50%;
				left: -12px;
				bottom: 17px;
			}
		}
		@media (min-width: 768px) {
			.navbar .nav-item.active:before {
				width: 50%;
				height: 3px;
				left: 0;
				right: 0;
				bottom: 5px;
			}
			.navbar .nav-item.dropdown.active:before {
				right: 13px;
			}
		}
		[data-target="#navbarMenu"] {
			color: var(--dark);
		}
		[data-target="#navbarMenu"]:hover,
		[data-target="#navbarMenu"][aria-expanded="true"] {
			color: var(--theme-1);
		}
		@media (min-width: 768px) {
			#navbarMenu .dropdown-menu {
				z-index: 1111;
			}
			#navbarMenu > ul > li > .dropdown-menu {
				max-height: calc(100vh - 75px);
				overflow: auto;
			}
		}
		@media (max-width: 767px) {
			.navbar {
				overflow: auto;
				max-height: 100vh;
			}
			.navbar-brand svg,
			.navbar-brand img {
				height: 40px;
			}
			#navbarMenu .nav-link {
				font-size: 1rem;
			}
			#navbarMenu > ul > li {
				padding-top: .5rem;
			}
			#navbarMenu > ul > li:last-child {
				padding-bottom: 1rem;
			}
			#navbarMenu .dropdown-item {
				padding-right: 0;
			}
			#navbarButton .nav-move {
				display: none;
			}
			.menu-opened {
				overflow: hidden;
			}
			.menu-opened .navbar {
				box-shadow: 0 .5rem .75rem rgba(0,0,0,.03), 0 0 1rem rgba(0,0,0,.04);
			}
		}

	/* Header */
		@media (max-width: 575px) {
			#header h1 {
				font-size: 2rem !important;
			}
			#header h1 + p {
				font-size: 1rem !important;
			}
		}

	/* Footer */
		footer a:hover {
			opacity: 1;
		}
		#copyright svg {
			margin-top: -2px;
		}

	/* Hover */
		.hover-card .hover-1 > .card-body > *,
		.hover-card .hover-1:hover > .card-body > * {
			transition: all .25s ease;
		}
		.hover-card .hover-1:hover h3 {
			color: var(--theme-1);
		}
		.hover-card .hover-1:hover p {
			opacity: .8;
		}
		.hover-card .hover-1:hover img {
			filter: brightness(0);
			opacity: .7;
		}
		@media (min-width: 768px) {
			.hover-1,
			.hover-1:hover {
				transition: all .2s ease;
			}
			.hover-1:hover {
				margin-top: -1rem;
				margin-bottom: 1rem;
				box-shadow: 0 .5rem .75rem rgba(0,0,0,.05),0 1.5rem 2rem rgba(0,0,0,.1) !important;
			}
		}

	/* Price */
		.custom-switch.custom-switch-sm .custom-control-label {
			padding-left: 0;
		}
		.custom-switch.custom-switch-sm .custom-control-label:before {
			height: 1rem;
			width: calc(1rem + 0.75rem);
			border-radius: 2rem;
		}
		.custom-switch.custom-switch-sm .custom-control-label:after {
			width: calc(1rem - 4px);
			height: calc(1rem - 4px);
			border-radius: calc(1rem - (1rem / 2));
		}
		.custom-switch.custom-switch-sm .custom-control-input:checked ~ .custom-control-label:after {
			transform: translateX(calc(1rem - 0.25rem));
		}

		.custom-switch.custom-switch-md .custom-control-label {
			padding-left: 1rem;
		}
		.custom-switch.custom-switch-md .custom-control-label:before {
			height: 1.5rem;
			width: calc(2rem + 0.75rem);
			border-radius: 3rem;
		}
		.custom-switch.custom-switch-md .custom-control-label:after {
			width: calc(1.5rem - 4px);
			height: calc(1.5rem - 4px);
			border-radius: calc(2rem - (1.5rem / 2));
		}
		.custom-switch.custom-switch-md .custom-control-input:checked ~ .custom-control-label:after {
			transform: translateX(calc(1.5rem - 0.25rem));
		}

		.custom-switch.custom-switch-lg .custom-control-label {
			padding-left: 2rem;
		}
		.custom-switch.custom-switch-lg .custom-control-label:before {
			height: 2rem;
			width: calc(3rem + 0.75rem);
			border-radius: 4rem;
		}
		.custom-switch.custom-switch-lg .custom-control-label:after {
			width: calc(2rem - 4px);
			height: calc(2rem - 4px);
			border-radius: calc(3rem - (2rem / 2));
		}
		.custom-switch.custom-switch-lg .custom-control-input:checked ~ .custom-control-label:after {
			transform: translateX(calc(2rem - 0.25rem));
		}

		.custom-switch.custom-switch-xl .custom-control-label {
			padding-left: 3rem;
		}
		.custom-switch.custom-switch-xl .custom-control-label:before {
			height: 2.5rem;
			width: calc(4rem + 0.75rem);
			border-radius: 5rem;
		}
		.custom-switch.custom-switch-xl .custom-control-label:after {
			width: calc(2.5rem - 4px);
			height: calc(2.5rem - 4px);
			border-radius: calc(4rem - (2.5rem / 2));
		}
		.custom-switch.custom-switch-xl .custom-control-input:checked ~ .custom-control-label:after {
			transform: translateX(calc(2.5rem - 0.25rem));
		}

		.pricing .fs-1 {
			font-size: calc(2.25rem + 1.5vw) !important;
		}
		@media (max-width: 768px) {
			.pricing .fs-1 {
				font-size: calc(2.5rem + 2vw) !important;
			}
		}
		.custom-control-input:checked~.custom-control-label:before,
		.switch-always-on .custom-control-label:before {
			background-color: var(--theme-1);
			border-color: var(--theme-1);
		}
		.switch-always-on .custom-control-label:after {
			background-color: var(--white);
		}
		.switch-overlay:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: transparent;
			cursor: pointer;
		}

	/* Pills */
		.pills-responsive {
			top: 82px;
		}
		.pills-responsive .btn-clear {
			border-color: rgba(0,0,0,.1);
		}
		.pills-responsive .btn-clear [class*="opacity"] {
			margin-top: 2px;
		}
		.pills-responsive .btn-clear.active {
			color: var(--white);
			background-color: var(--theme-1);
			border-color: var(--theme-1);
		}
		.pills-responsive .btn-clear.active [class*="opacity"] {
			opacity: 1;
		}

	/* Card */
		[data-embed] img {
			width: 100%;
			height: 200px;
		}
		[data-embed] .badge-dark {
			background-color: rgba(0,0,0,.6);
		}

	/* Misc */
		.separator {
			width: 100%;
			height: 2px;
			background-image: linear-gradient(90deg, transparent, rgba(0,0,0,.1), transparent);
		}
		.bg-dark .separator,
		.bg-theme-1 .separator,
		.bg-theme-1-hover .separator {
			background-image: linear-gradient(90deg, transparent, rgba(255,255,255,.5), transparent);
		}
		.overlay-top {
			position: relative;
			top: -5px;
		}
		.overlay-bottom {
			position: relative;
			bottom: -5px;
		}
		.overlay-flip-x {
			-webkit-transform: scaleX(-1);
			   -moz-transform: scaleX(-1);
					transform: scaleX(-1);
		}
		.overlay-flip-y {
			-webkit-transform: scaleY(-1);
			   -moz-transform: scaleY(-1);
					transform: scaleY(-1);
		}
		@media (max-width: 767px) {
			.parallax-overlay .parallax:after {
				background-image: linear-gradient(45deg, var(--theme-1), var(--theme-1));
			}
		}
